<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="vrm_generate_tool.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="vrm_generate_tool.Perspective"
            name="RCP Perspective"
            id="Variable-Relation-Model-Generate-Tool.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="vrm_generate_tool.View"
            icon="platform:/plugin/org.eclipse.jdt.junit/icons/full/obj16/test.png"
            id="Variable-Relation-Model-Generate-Tool.view"
            inject="true"
            name="测试用例集"
            restorable="true">
      </view>
      
       <view
            allowMultiple="true"
            icon="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/obj16/nested_projects.png"
            class="vrm_generate_tool.NavigationView"
            name="需求管理器"
            id="Variable-Relation-Model-Generate-Tool.navigationView">
      </view>
      <view
            allowMultiple="false"
            class="vrm_generate_tool.ProcessView"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png"
            id="Variable-Relation-Model-Generate-Tool.ProcessView"
            inject="true"
            name="变量"
            restorable="true">
      </view>
       <view
            allowMultiple="false"
            class="vrm_generate_tool.RequirementsView"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png"
            id="Variable-Relation-Model-Generate-Tool.RequirementsView"
            inject="true"
            name="原始需求">
      </view>
       <view
            allowMultiple="true"
            icon="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/obj16/nested_projects.png"
            class="vrm_generate_tool.DataTypeView"
            name="数据类型"
            id="Variable-Relation-Model-Generate-Tool.DataTypeView">
      </view>
      <view
            allowMultiple="true"
            icon="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/obj16/nested_projects.png"
            class="vrm_generate_tool.ProperNounView"
            name="专有名词"
            id="Variable-Relation-Model-Generate-Tool.ProperNounView">
      </view>
      <view
            allowMultiple="true"
            icon="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/obj16/nested_projects.png"
            class="vrm_generate_tool.ConstNumView"
            name="常量"
            id="Variable-Relation-Model-Generate-Tool.ConstNumView">
      </view>
      <view
            allowMultiple="true"
            icon="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/obj16/nested_projects.png"
            class="vrm_generate_tool.InputVariableView"
            name="输入变量"
            id="Variable-Relation-Model-Generate-Tool.InputVariableView">
      </view>
      <view
            allowMultiple="true"
            icon="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/obj16/nested_projects.png"
            class="vrm_generate_tool.OutputVariableView"
            name="输出变量"
            id="Variable-Relation-Model-Generate-Tool.OutputVariableView">
      </view>
      <view
            allowMultiple="true"
            icon="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/obj16/nested_projects.png"
            class="vrm_generate_tool.MiddleVariableView"
            name="中间变量"
            id="Variable-Relation-Model-Generate-Tool.MiddleVariableView">
      </view>
      <view
            allowMultiple="true"
            icon="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/obj16/nested_projects.png"
            class="vrm_generate_tool.PatternView"
            name="模式类"
            id="Variable-Relation-Model-Generate-Tool.PatternView">
      </view>
      <view
            allowMultiple="false"
            class="vrm_generate_tool.CommonConditionView"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png"
            id="Variable-Relation-Model-Generate-Tool.CommonConditionView"
            inject="true"
            name="通用条件"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="vrm_generate_tool.CommonEventView"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png"
            id="Variable-Relation-Model-Generate-Tool.CommonEventView"
            inject="true"
            name="通用事件"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="vrm_generate_tool.DominantConditionView"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png"
            id="Variable-Relation-Model-Generate-Tool.DominantConditionView"
            inject="true"
            name="显示条件"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="vrm_generate_tool.DominantEventView"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png"
            id="Variable-Relation-Model-Generate-Tool.DominantEventView"
            inject="true"
            name="显示事件"
            restorable="true">
      </view>
     
      <view
            class="vrm_generate_tool.MenuExplorer"
            id="Variable-Relation-Model-Generate-Tool.MenuExplorer"
            name="Menu Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Variable-Relation-Model-Generate-Tool.category"
            name="Mail">
      </category>
      <command
            description="Opens a mailbox"
            name="Open Mailbox"
            id="Variable-Relation-Model-Generate-Tool.open"
            categoryId="Variable-Relation-Model-Generate-Tool.category">
      </command>
      <command
            description="Open a message dialog"
            name="Open Message Dialog"
            id="Variable-Relation-Model-Generate-Tool.openMessage"
            categoryId="Variable-Relation-Model-Generate-Tool.category">
      </command>
      <command
            id="Variable-Relation-Model-Generate-Tool.open"
            name="打开">
      </command>
      <command
            id="Variable-Relation-Model-Generate-Tool.inport"
            name="导入需求">
      </command>
      <command
            id="Variable-Relation-Model-Generate-Tool.helpCommand"
            name="帮助">
      </command>
      <command
            id="Variable-Relation-Model-Generate-Tool.jokeCommand"
            name="joke Command">
      </command>
      <command
            id="Variable-Relation-Model-Generate-Tool.angryCommand"
            name="Angry Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Variable-Relation-Model-Generate-Tool.open"
            sequence="CTRL+SHIFT+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="Variable-Relation-Model-Generate-Tool.openMessage"
            sequence="CTRL+SHIFT+M"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            sequence="CTRL+SHIFT+Q"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Variable-Relation-Model-Generate-Tool"
            application="Variable-Relation-Model-Generate-Tool.application">
         <property
               name="aboutText"
               value="用例建模工具">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/org.eclipse.ui.workbench.texteditor/icons/full/etool16/toLower.png">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Variable-Relation-Model-Generate-Tool">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Variable-Relation-Model-Generate-Tool.fileMenus"
               label="文件">
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.importCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/import_wiz.png"
                  label="导入"
                  style="push">
            </command>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.openCommand"
                  icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/open_artifact_obj.png"
                  label="打开"
                  style="push">
            </command>
            <separator
                  name="Variable-Relation-Model-Generate-Tool.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.CloseCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
                  label="关闭"
                  style="push">
            </command>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.closeAllCommand"
                  label="关闭全部"
                  style="push">
            </command>
            <separator
                  name="Variable-Relation-Model-Generate-Tool.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.saveCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
                  label="保存"
                  style="push">
            </command>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.saveAllCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/saveall_edit.png"
                  label="保存全部"
                  style="push">
            </command>
            <separator
                  name="Variable-Relation-Model-Generate-Tool.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.restartCommand"
                  label="重启"
                  style="push">
            </command>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.exitCommand"
                  label="退出"
                  style="push">
            </command>
         </menu>
         <menu
               id="Variable-Relation-Model-Generate-Tool.editMenus"
               label="编辑">
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.undoCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/undo_edit.png"
                  label="撤销"
                  style="push">
               <parameter
                     name="Variable-Relation-Model-Generate-Tool.operation"
                     value="open">
               </parameter>
            </command>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.redoCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/redo_edit.png"
                  label="还原"
                  style="push">
            </command>
            <separator
                  name="Variable-Relation-Model-Generate-Tool.separator4">
            </separator>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.copyCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/copy_edit.png"
                  label="复制"
                  style="push">
            </command>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.pastCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/paste_edit.png"
                  label="粘贴"
                  style="push">
            </command>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.cutCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/cut_edit.png"
                  label="剪切"
                  style="push">
            </command>
            <separator
                  name="Variable-Relation-Model-Generate-Tool.separator5">
            </separator>
         </menu>
         <menu
               id="Variable-Relation-Model-Generate-Tool.helpMenus"
               label="帮助">
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.welcomeCommand"
                  icon="platform:/plugin/org.eclipse.ui.intro/icons/welcome16.gif"
                  label="欢迎"
                  style="push">
            </command>
            <command
                  commandId="Variable-Relation-Model-Generate-Tool.helpCommand"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/help_contents.png"
                  label="帮助"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:Variable-Relation-Model-Generate-Tool.MenuExplorer?after=additions">
         <command
               commandId="Variable-Relation-Model-Generate-Tool.jokeCommand"
               label="jok"
               style="push">
            <visibleWhen
                  checkEnabled="false"> 
               <with
                    variable="selection"> 
                  <iterate
                       ifEmpty="true"
                       operator="or"> 
                   <or> 
                       <instanceof
                               value="Variable-Relation-Model-Generate-Tool.Person"> 
                       </instanceof>                                             
                   </or> 
                 </iterate> 
                 </with> 
              </visibleWhen>   
         </command>
      </menuContribution>
      <menuContribution
           locationURI="toolbar:Variable-Relation-Model-Generate-Tool.MenuExplorer?after=additions"> 
        <command
              commandId="Variable-Relation-Model-Generate-Tool.jokeCommand"
              icon="icons/searchres.gif"
              style="push"> 
              <visibleWhen
                    checkEnabled="false"> 
                 <with
                       variable="selection"> 
                    <iterate
                          ifEmpty="true"
                          operator="or"> 
                       <or> 
                             <instanceof
                                   value="Variable-Relation-Model-Generate-Tool.Person"> 
                             </instanceof>                                             
                       </or> 
                    </iterate> 
                 </with> 
              </visibleWhen>  
        </command> 
     </menuContribution> 
     <menuContribution
           locationURI="popup:Variable-Relation-Model-Generate-Tool.MenuExplorer?after=additions"> 
        <command
              commandId="Variable-Relation-Model-Generate-Tool.jokeCommand"
              icon="icons/searchres.gif"
              style="push"> 
        </command> 
        <command
              commandId="Variable-Relation-Model-Generate-Tool.angryCommand"
              style="push"> 
        </command>      
     </menuContribution> 
      <menuContribution
            allPopups="false"
            locationURI="popup:Variable-Relation-Model-Generate-Tool.navigationView?after=additions">
         <command   
               commandId="Variable-Relation-Model-Generate-Tool.NavigationView"
               icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/etool16/new_testcase.png"
               label="新建"
               style="push">
         </command>
         <command             
               commandId="Variable-Relation-Model-Generate-Tool.NavigationView"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/copy_edit.png"
               label="删除"
               style="push">
         </command>       
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ui.internal.handlers.HelpContentsHandler"
            commandId="Variable-Relation-Model-Generate-Tool.helpCommand">
      </handler>
   </extension>

</plugin>
